.header{
    background-color: #1f2937;
    color: white;
    font-size: 1.5em;
}
nav, ul{
    display: flex;
}
.header img, .text{
    max-width: 700px;
}
a, li{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
li{
    margin: 0 12px;
}

nav{
    justify-content: space-around;
}
body{
    margin: 0px;
}


.header_content{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 54px;
    font-family: Roboto;
}
img{
    border-radius: 20px;
}
button{
    color: white;
    font-family: Roboto;
    text-decoration: none;
    background-color: #3882f6;
    font-size: 1em;
    font-weight: 900;
    border-radius: 10px;
    padding: 5px 40px;
}