.header{
    background-color: #1f2937;
    color: white;
}
nav, ul{
    display: flex;
}
.header img{
    max-width: 300px;
}
a, li{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
li{
    margin: 0 12px;
}

nav{
    justify-content: space-evenly;
}



.header_content{
    display: flex;
    justify-content: center;
    padding: 54px;
    font-family: Roboto;
    gap: 54px;
}
.text{
    max-width: 600px;
    text-wrap: wrap;
}